@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/TTThin.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/TTLight.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/TTRegular.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/TTMedium.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/TTBold.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/TTBlack.otf);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Gilroy-Regular.otf);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Gilroy-Medium.otf);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Gilroy-Bold.otf);
}

@layer base {
  body {
    @apply m-0 bg-dark-2 p-0 font-primary text-sm text-[#e8e8e9] antialiased md:text-base;
  }

  .scroll::-webkit-scrollbar {
    height: 0.125rem;
    width: 2rem;
    -webkit-appearance: none;
  }

  .gradient-01 {
    background-image: linear-gradient(
      270deg,
      hsl(293, 44%, 51%) 0%,
      hsl(284deg 70% 73%) 26%,
      hsl(257deg 70% 86%) 39%,
      hsl(202deg 92% 90%) 50%,
      hsl(215deg 77% 81%) 61%,
      hsl(221deg 73% 70%) 74%,
      hsl(220deg 76% 51%) 100%
    );
    filter: blur(260px);
  }

  .gradient-02 {
    background-image: linear-gradient(
      270deg,
      hsl(314, 44%, 51%) 0%,
      hsl(314deg 70% 73%) 26%,
      hsl(314deg 70% 86%) 39%,
      hsl(202deg 92% 90%) 50%,
      hsl(215deg 77% 81%) 61%,
      hsl(221deg 73% 70%) 74%,
      hsl(220deg 76% 51%) 100%
    );
    filter: blur(260px);
  }

  @screen lg {
    .scroll::-webkit-scrollbar:horizontal {
      width: 0.125rem;
      height: 2rem;
      -webkit-appearance: none;
    }
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #e8e8e9;
    border: 0.9375rem solid #171819;
  }
}

html,
body,
#__next,
.main {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  color-scheme: dark;
}
