@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/TTThin.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/TTLight.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/TTRegular.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/TTMedium.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/TTBold.otf);
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/TTBlack.otf);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Gilroy-Regular.otf);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Gilroy-Medium.otf);
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Gilroy-Bold.otf);
}

@layer base {
  body {
    @apply m-0 bg-dark-2 p-0 font-primary text-sm text-[#e8e8e9] antialiased md:text-base;
  }

  .scroll::-webkit-scrollbar {
    height: 0.125rem;
    width: 2rem;
    -webkit-appearance: none;
  }

  @screen lg {
    .scroll::-webkit-scrollbar:horizontal {
      width: 0.125rem;
      height: 2rem;
      -webkit-appearance: none;
    }
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #e8e8e9;
    border: 0.9375rem solid #171819;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  color-scheme: dark;
}
