@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 bg-[#fcfeff] p-0 font-primary text-sm text-gray-900 antialiased md:text-base;
  }

  .scroll::-webkit-scrollbar {
    height: 0.125rem;
    width: 2rem;
    -webkit-appearance: none;
  }

  @screen lg {
    .scroll::-webkit-scrollbar:horizontal {
      width: 0.125rem;
      height: 2rem;
      -webkit-appearance: none;
    }
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #171717;
    border: 0.9375rem solid #fcfeff;
  }
}
